.search {
    position: relative;
    margin: 0 auto;
    width: 500px;
    
    margin-top: 10px;
}

.search input {
    height: 50px;
    width: 100%;
    padding: 0 15px 0 25px;
    font-size: medium;
    border: 1px solid #babdcc;
    border-radius: 15px;
  
    
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}


.search .results {
    display: block;
    top: 40px;
    padding: 10px;
    margin: 0;
    color:white;
    justify-content: space-between;
}
.search .results li { 
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid gray;
    text-align: left;
    height: 50px;
    cursor: pointer;
}

.search .results li img { 
    width: 60px;
    height:60px;
    margin-right: 5px;
}

.search .results li:hover { 
    background: rgba(170, 167, 167, 0.1);
}